body {
  background-size: cover;
	top: 20%;
}

#container { 
	width: 100%;
	position: absolute;
	top: 25%;
}

#clock {
	font: 180px/1.2 'Roboto', Helvetica, Arial, Sans-serif;
	text-align: center;
	color: white;
	margin: 0;
}

#greeting {
	font: 48px/1.2 'Roboto', Helvetica, Arial, Sans-serif;
	text-align: center;
	color: white;
	margin: 0;
}

img {
	width: 200px;
}

.thumbnail {
	margin: 4px;
}