body {
	background: #ffffff url(planetwallpaper.png) center center;
    background-size: cover;
}

#container { 
	width: 100%;
	position: absolute;
	top: 30%;
}

h1 {
	text-align: center;
	font-size: 70px;
}