body {
	background: #ffffff url(planetwallpaper.png) center center;
    background-size: cover;
}

#container { 
	width: 100%;
	position: absolute;
	top: 20%;
}

h1 { /* #date */
	text-align: center;
	font-size: 70px;
	color: white;
	margin-bottom: 0;
	font-family: 'Oswald', sans-serif;
}

h2 { /* #clock */
	text-align: center;
	font-size: 50px;
	color: white;
	margin-top: 0;
	font-family: 'Oswald', sans-serif;
}